body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 700;
    color: #707070;
}

h2 {
    font-weight: 400;
    font-size: 3rem;
}

.color_barra {
    background-color: #E83E8C;
    color: #ffffff;
    text-align: right;
}

.logo_footer {
    width: 5%;
}